@model List<(Sensor, SensorValue)>
@{
    ViewData["Title"] = "Мои транспортные средства";
    (Sensor, List<SensorValue>) sensorValue = new(null, new List<SensorValue>());
}

<div class="container">
    <h2>Датчики на Транспортных средствах</h2>
</div>
<form method="get">
    <div class="container d-flex justify-content-start">
        @if (Model.Count != 0)
        {
            <div class="border d-flex flex-column ">
                @foreach (var sensor in Model)
                {
                    <div class="border-1 p-2 pb-1">
                        <label>@sensor.Item1.Name</label>
                        <button type="button" class="btn btn-outline-info sensor-link" data-id="@sensor.Item1.Id">@sensor.Item2.Value.ToString("F3")</button>
                    </div>
                }
            </div>

            <div>
                <div class="container" id="partial">
                    @await Html.PartialAsync("_SensorGraph", sensorValue)
                </div>
            </div>
        }
        else
        {
            <div>
                Выберете технику для просмотра датчиков
            </div>
        }
    </div>
</form>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function () {
            $(".sensor-link").click(function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                $.ajax({
                    url: '@Url.Action("_SensorGraph", "VehicleValues")',
                    type: 'post',
                    data: { id: id },
                    success: function (result) {
                        $("#partial").html(result);
                    }
                });
            });
        });
    </script>
}
